<% if not @result.nil? %>
<p class="main-page"><%= @result.tips %></p>
<%= button_to "Home", contexts_path, method: 'get', class: 'search' %>


<% else %>
<p>No one has submitted one for this yet.</p>
<%= button_to "Home", contexts_path, method: 'get', class: 'search' %>

<% end %>
